@import 'tailwindcss';

@theme {
  --font-sans: 'Noto Sans', sans-serif;

  --color-neutral-900: hsl(227, 75%, 14%);
  --color-neutral-800: hsl(226, 25%, 17%);
  --color-neutral-700: hsl(225, 23%, 24%);
  --color-neutral-600: hsl(226, 11%, 37%);
  --color-neutral-300: hsl(0, 0%, 78%);
  --color-neutral-200: hsl(217, 61%, 90%);
  --color-neutral-100: hsl(0, 0%, 93%);
  --color-neutral-0: hsl(200, 60%, 99%);
  --color-red-400: hsl(3, 86%, 64%);
  --color-red-500: hsl(3, 71%, 56%);
  --color-red-700: hsl(3, 77%, 44%);
  --color-light-gradient: linear-gradient(180deg, #ebf2fc 0%, #eef8f9 100%);
  --color-dark-gradient: linear-gradient(180deg, #040918 0%, #091540 100%);
}

@custom-variant dark (&:where(.dark, .dark *));

.filter-transition {
  @apply transition-colors duration-900 ease-in-out;
}

@layer components {
  .button-filter {
    @apply rounded-full bg-neutral-100 text-sm border border-neutral-400 dark:bg-neutral-700 dark:border-neutral-600 dark:text-neutral-100 px-4 py-1;
  }

  .button-filter:hover {
    @apply bg-neutral-200 dark:bg-neutral-600;
  }

  .button-filter.selected {
    @apply bg-red-700 text-neutral-100 dark:text-neutral-900 border-0;
  }
}
