---

---

<section class="flex flex-col gap-4 justify-between items-center lg:flex-row">
    <div>
        <h1 class="text-2xl font-bold dark:text-white">Extension List</h1>
    </div>
    <div>
        <ul class="flex gap-4">
            <li>
                <label
                    for="all"
                    class="button-filter filter-transition
                [.group:has(#all:checked)_&]:bg-red-600
                [.group:has(#all:focus-visible)_&]:ring-2 [.group:has(#all:focus-visible)_&]:ring-red-600 [.group:has(#all:focus-visible)_&]:ring-offset-2 dark:[.group:has(#all:focus-visible)_&]:ring-offset-neutral-900 outline-none"
                    >All</label
                >
            </li>
            <li>
                <label
                    for="active"
                    class="button-filter filter-transition
                [.group:has(#active:checked)_&]:bg-red-600
                [.group:has(#active:focus-visible)_&]:ring-2 [.group:has(#active:focus-visible)_&]:ring-red-600 [.group:has(#active:focus-visible)_&]:ring-offset-2 dark:[.group:has(#active:focus-visible)_&]:ring-offset-neutral-900 outline-none"
                    >Active</label
                >
            </li>
            <li>
                <label
                    for="inactive"
                    class="button-filter filter-transition
                [.group:has(#inactive:checked)_&]:bg-red-600
                [.group:has(#inactive:focus-visible)_&]:ring-2 [.group:has(#inactive:focus-visible)_&]:ring-red-600 [.group:has(#inactive:focus-visible)_&]:ring-offset-2 dark:[.group:has(#inactive:focus-visible)_&]:ring-offset-neutral-900 outline-none"
                    >Inactive</label
                >
            </li>
        </ul>
    </div>
</section>
