---
import Icons from "../components/UI/Icons.astro";
---

<div class="bg-yellow-300 flex justify-between items-center">
    <div>
        <Icons name="logo" class="w-10 h-auto" />
    </div>
    <div>
        <Icons name="icon-moon" class="w-2 h-auto" />
        <Icons name="icon-sun" class="w-8 h-auto hidden" />
    </div>
</div>
